html, body {
  background-color: #FAFAFA;
}

.title {
  margin-top: 0;
}

.checkbox-avatar {
  background: none;

  & > .label {
    margin-left: 10px;
    margin-top: 3px;
  }
}

.item-wrapper {
  padding-left: 0;
  padding-right: 0;

  &.-disabled {
    opacity: .6;

    & .item-name {
      text-decoration: line-through;
    }
  }

  & .new-item-avatar {
    background: none;
    color: #BDBDBD;

    .icon {
      margin-left: 10px;
      font-size: 35px;
    }
  }
}

.new-item {
  color: #BDBDBD;
}

.edit-item-box {
  margin-right: 10px;
  width: 25%;

  &:first-child { width: 45%; }
}

.edit-button, .save-button {
  background: none;
  border: none;

  &:focus {
    outline: none;
  }

  & > .icon {
    width: 25px;
    height: 25px;
    padding-left: 10px;
  }
}

.results-table {
  width: 100%;
}
