html, body {
  background-color: #FAFAFA;
}

.title {
  margin-top: 0;
}

.item-wrapper {
  padding-left: 0;
  padding-right: 0;

  &.-new {
    .label {
      color: #BDBDBD;
    }

    .edit-item-box {
      width: 60%;
    }
  }

  &.-disabled {
    opacity: .6;

    & .item-name {
      text-decoration: line-through;
    }
  }

  &.-with-info {
    & .item-name {
      top: -15px;
      position: relative;
    }

    & .item-info {
      margin-left: 55px;
      position: relative;
      top: -15px;
    }

    & .toggle-item-status {
      margin-top: 10px;
    }
  }

  & .toggle-item-status {
    margin: 0 15px;
    width: 20px;
    height: 20px;
  }

  & .item-name {
    margin-left: 5px;
  }

  & .new-item-avatar {
    background: none;
    color: #424242;

    .icon {
      margin-left: 10px;
      font-size: 35px;
    }
  }
}

.edit-item-box {
  margin-right: 10px;
  width: 25%;

  &:first-child { width: 45%; }
}

.edit-button, .save-button {
  background: none;
  border: none;

  &:focus {
    outline: none;
  }

  & > .icon {
    width: 25px;
    height: 25px;
    padding-left: 10px;
  }
}

.results-table {
  width: 100%;
}
