html, body {
  background-color: #FAFAFA;
}

.title {
  margin-top: 0;
}

.show-item-wrapper, .edit-item-wrapper {
  padding-left: 0;
  padding-right: 0;
}

.edit-item-box {
  margin-right: 10px;
  width: 25%;

  &:first-child { width: 45%; }
}

.results-table {
  width: 100%;
}
